html, body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-box-align: center;
  align-items: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background: #1e69da;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}